﻿@model Izio.Umbraco.Events.ViewModels.CalendarViewModel

<link href='~/Css/events.min.css' rel='stylesheet' />
<script src='~/scripts/events.min.js'></script>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");

        var calendar = new FullCalendar.Calendar(calendarEl, {
            @Html.Raw(Model.Configuration)

            eventClick: function (info) {
                info.jsEvent.preventDefault();

                var body = document.body;
                var top = window.scrollY;
                var modal = document.getElementById("modal");
                var close = document.getElementById("modal-close");
                var title = document.getElementById("modal-title");
                var start = document.getElementById("modal-start");
                var end = document.getElementById("modal-end");
                var content = document.getElementById("modal-content");

                body.classList.add("modal-open");

                title.textContent = info.event.title;
                content.innerHTML = info.event.extendedProps.description;
                start.textContent = info.event.start.toDateString() + " " + info.event.start.toTimeString();
                end.textContent = info.event.end.toDateString() + " " + info.event.end.toTimeString();

                close.onclick = function () {

                    body.classList.remove("modal-open");
                    window.scrollTo(0, top);
                }

                window.onclick = function(event) {
                    if (event.target === modal) {
                        body.classList.remove("modal-open");
                        window.scrollTo(0, top);
                    }
                }
            }
        });

        calendar.render();
    });

</script>

<div id="calendar">

</div>

<div id="modal-background">

    <div id="modal">
        <div id="modal-header">
            <span id="modal-close">&times;</span>
            <h1 id="modal-title"></h1>
        </div>
        <div id="modal-dates">
            <div class="date">
                Start: <span id="modal-start"></span>
            </div>
            <div class="date">
                End: <span id="modal-end"></span>
            </div>
        </div>
        <div id="modal-content">
        </div>
    </div>
</div>