﻿<umb-editor-view>
    <form ng-submit="model.submit()"  ng-controller="Events.DefaultController" val-form-manager>
        <umb-editor-header name="model.title" title="model.form" hide-description="true" hide-icon="true" name-locked="true" hide-alias="true"></umb-editor-header>
        <umb-editor-container class="form-horizontal">
            <umb-box>
                <umb-box-header title="Activity Details"></umb-box-header>
                <umb-box-content>
                    <umb-control-group label="Title" description="The title of the activity" class="umb-el-rap">
                        <input type="text" ng-model="model.activity.title" class="umb-property-editor umb-textstring textstring" placeholder="Please enter the activity title" required />
                    </umb-control-group>
                    <umb-control-group label="Start" description="The start time of the activity" class="umb-el-rap">
                        <umb-date-time-picker class="datepicker" ng-model="model.activity.start" options="model.startPicker.config" on-close="model.onStartPickerClosed(selectedDates, dateStr)"></umb-date-time-picker>
                        <br />
                        <span ng-show="model.dateError" class="error">The start must be before the end</span>
                    </umb-control-group>
                    <umb-control-group label="End" description="The end time of the activity" class="umb-el-rap">
                        <umb-date-time-picker class="datepicker" ng-model="model.activity.end" options="model.endPicker.config" on-close="model.onEndPickerClosed(selectedDates, dateStr)"></umb-date-time-picker>
                        <br />
                        <span ng-show="model.dateError" class="error">The end must be after the start</span>
                    </umb-control-group>
                    <umb-control-group label="Description" description="The description of the activity" class="umb-el-rap">
                        <umb-editor model="model.descriptionEditor" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-description"></umb-editor>
                    </umb-control-group>
                </umb-box-content>
            </umb-box>
            <umb-box ng-show="model.mode == 'edit'">
                <umb-box-header title="Delete"></umb-box-header>
                <umb-box-content>
                    <umb-control-group label="Delete" description="The delete this activity" class="umb-el-rap">
                        <div ng-show="!model.deleteRequested">
                            <umb-button type="button" button-style="button" label="Delete" ng-click="model.requestDelete()"></umb-button>
                        </div>
                        <div ng-show="model.deleteRequested">
                            <span>Are you sure you want to delete this activity?</span>
                            <umb-button type="button" button-style="link" label="Cancel" ng-click="model.cancelDelete()"></umb-button>
                            <umb-button type="button" button-style="danger" label="Yes" ng-click="model.delete()"></umb-button>
                        </div>
                    </umb-control-group>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button" button-style="link" label-key="general_close" shortcut="esc" ng-click="model.close()"></umb-button></umb-button></umb-button><umb-button type="submit" button-style="success" state="model.valid" shortcut="ctrl+s" label="Save" label-key="buttons_save"></umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </form>
</umb-editor-view>