﻿<div ng-controller="Events.CalendarPickerController">
    <select ng-model="model.value" class="umb-property-editor umb-dropdown" required>
        <option ng-repeat="calendar in calendars" value="{{calendar.reference}}" ng-selected="{{calendar.reference == model.value}}">{{calendar.name}}</option>
    </select>
</div>