﻿<div class="umb-dashboard" ng-controller="Events.DefaultController" ng-show="loaded">
    <div class="events">
        <div ng-show="calendarSummaries.length === 0" class="calendar empty">
            <span class="binds"></span>
            <span class="name">No Upcoming Activities</span>
            <div class="details">
                <div class="count">0</div>
                <p>Activities</p>
            </div>
        </div>

        <div ng-repeat="summary in calendarSummaries" class="calendar">
            <span class="binds"></span>
            <a href="#/izioEvents/Events/edit/{{summary.id}}" title="{{summary.name}}"><span class="name">{{summary.name}}</span></a>
            <div class="details">
                <div class="count">{{summary.activities}}</div>
                <p>Activities</p>
                <p><strong>Next: </strong>{{summary.nextActivity}}</p>
            </div>
        </div>
    </div>
</div>
