﻿<form name="create" ng-controller="Events.DeleteController" ng-show="loaded" ng-submit="delete()" val-form-manager>
    <umb-panel>
        <div class="umb-panel-body no-header umb-scrollable row-fluid">
            <div class="tab-content form-horizontal">
                <div class="umb-pane">
                    <p>
                        Please confirm that you wish to delete this {{currentNode.name}}?
                    </p>
                    <div class="umb-panel-footer">
                        <div class="btn-toolbar umb-btn-toolbar pull-right">
                            <a class="btn btn-link" ng-click="cancel()">
                                <localize key="cancel" />
                            </a>
                            <a href="#" class="btn btn-primary" ng-click="delete(currentNode.id)"><localize key="general_ok">OK</localize></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </umb-panel>
</form>