﻿<form name="edit" ng-controller="Events.EditController" ng-show="loaded" ng-submit="save(calendar)" val-form-manager>
    <umb-editor-view ng-if="loaded">
        <umb-editor-header name="calendar.name" hide-description="true" hide-icon="true" name-locked="true" hide-alias="true">
        </umb-editor-header>
        <umb-editor-container class="form-horizontal">
            <umb-box>
                <umb-box-header title="Settings"></umb-box-header>
                <umb-box-content>
                    <umb-control-group label="Name" description="The name of the calendar" class="umb-el-rap">
                        <input type="text" class="umb-property-editor umb-textstring textstring" ng-model="calendar.name" placeholder="Please enter the calendar name" required />
                    </umb-control-group>
                    <umb-control-group label="Reference" description="The unique reference number of the calendar">
                        <input type="text" class="umb-property-editor umb-textstring textstring" ng-model="calendar.reference" required disabled />
                    </umb-control-group>
                    <umb-control-group label="Description" description="The description of the calendar">
                        <umb-editor model="description" class="mce-edit-area mce-container mce-panel mce-stack-layout-item"></umb-editor>
                    </umb-control-group>
                </umb-box-content>
            </umb-box>
            <umb-box>
                <umb-box-header title="Activities"></umb-box-header>
                <umb-box-content>
                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="activities" class="calendar"></div>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="submit" button-style="success" state="calendar.valid" shortcut="ctrl+s" label="Save" label-key="buttons_save"></umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</form>