﻿<div ng-controller="Events.ViewPickerController">
    <select ng-model="model.value" class="umb-property-editor umb-dropdown" required>
        <option ng-repeat="view in views" value="{{view.view}}" ng-selected="{{view.view == model.value}}">{{view.name}}</option>
    </select>
</div>
